.container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 2px;
    margin: 20px auto;
    margin-left: 600px;
    
}


.cell {
    background-color: #eee;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

#restart-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
}

#message {
    font-size: 1.5em;
}
